include ./helpers/variables.pug
include ./helpers/mixins.pug

doctype html
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
html.no-js(lang= "ru")
  head
    //- TODO: Set Author| Charset | Lang | Title | Description
    meta(charset="utf-8")
    meta(content="ru")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='author',content="")
    title #{title}
    meta(name='description', content='')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')

    +FavIcon

    block head-css
      link(rel='stylesheet' href='/assets/css/foundation.css')
      link(rel='stylesheet' href='/assets/css/app.css')

    block head-scripts
      | <!--[if lt IE 9]>
      | <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      | <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      | <![endif]-->

  body
    //- TODO: Change Google TAG  ID
    //-  +GTM(siteGoogleTAG)
    | <!--[if lt IE 10]>
    | <p class="browserupgrade">Вы используете браузер <span class="b">устаревшей</span> версии. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> что бы насладиться всеми возможностями работы в Интернет.</p>
    | <![endif]-->

    //-Add your site or application content here
    block APP_content
    
    .main
      div.parallax
        - var parallaxImgs = ["assets/img/01.png","assets/img/02.png","assets/img/03.png","assets/img/04.png","assets/img/05.png","assets/img/06.png"]
        each item, key in parallaxImgs
          div.parallax-layer(data-key=key)
            img.parallax-layer__img(src=item alt="parallax layer")
      .flip-cont.hover
        .flipper
          .front
            .hello-tx Добро пожаловать
            .dscr-tx Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
            .card
              .autorise_section
                form.f-itx(name="test" method="post" action="#")
                input.itx(type="text" placeholder="Электронная почта" size="40")
                form.f-itx(name="test" method="post" action="#")
                input.itx(type="text" placeholder="Пароль" size="40")
              a.pass-tx(href="#") Забыли пароль?
              .enter-btn
                +btnEnter
              .registration
                .registration-tx Нет аккаунта?
                a.registration-a(href="#") Зарегистрироваться
          .back

    block footer-scripts
      script(src='/assets/js/foundation.js' defer)
      script(src='/assets/js/app.js' defer)

    //- TODO: Change Google Analytics ID
    //- +GA(siteGoogleAnalyticsCode)

