include ../helpers/mixins.pug
.add-photo-wrap
  .add-photo
    .add-photo__h
      h4.h__title Добавить фотографии
      +btnCancelPop
    .add-photo__b
      .b__album-name
        .name Название
        .title
      form#photoDropZone.dropzone.b__photo-container(action="/api/method/photos.addPhoto")
        input(type='hidden' name='album_id' value= album._id.toString())
        +use('cam','icon-camera')
        span.drag.dz-message Перетащите фото сюда
        span.file
          span.or или
          |выберите файл
    .add-photo__f
      +formMenu
