include ../helpers/mixins.pug
footer.f-w
  div.f-mask
  div.f
    p.f__desc.
      Перед вами сервис, который поможет вам организовать свои
      фотографии в альбомы и поделиться ими со всем миром!
    a.f__a(href="#")
      +use('top','f__svg')
    p.f__copyright.
      2016 | Создано командой профессионалов на продвинутом курсе
      по веб-разработке от LoftSchool