body {
	height: 100%;
}
.b-w
{
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    flex: 1 0 auto;

}
.parallax {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    trasition: all 0.2s line;
   
}

.parallax-layer__img {
    display: block;
    position: absolute;
    min-width: 105%;
    min-height: 105%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.flip-cnt-w
{
    margin: auto;

    perspective: 1500px;
}
.flip-cnt-w.hover .flip-cnt
{
    transform: rotateY(180deg);

}
.flip-cnt-w {
    overflow: hidden;
}
.flip-cnt-w,
.flip-cnt,
.flip-cnt__front,
.flip-cnt__back,
.pass-rec
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 450px;
    margin: auto;
}
.flip-cnt
{
    position: relative;

    transition: .6s;

    transform-style: preserve-3d;
}
.flip-cnt__front,
.flip-cnt__back,
.pass-rec
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

    backface-visibility: hidden;
}
.flip-cnt__front
{
    z-index: 2;

    transform: rotateY(0deg);
}
.flip-cnt__t {
    margin: 0 0 20px 0;
    font-size: 2.5625rem;
    font-family : 'Panton';
    font-weight : bold;
    width: 100%;
    
    color: #fff;
}
.flip-cnt__tx {
    margin: 0 0 25px 0;
    padding: 0 10px;
    font-size: 1rem;
    width: 100%;
    @include type-setting(N);
    line-height: 1.7;
    color: #fff;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 0;
    width: 280px;
    margin: 10px auto;
    @include rounded (20px)
    background-color: #fff;
}
.card__it
{
    width: 200px;
    height: 35px;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #9A9A9A;
    border: 0 none;
    outline: none;
}
.card-a {
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    font-size: 14px;
    text-decoration: none;
    color: #28bbf0;
    font-family: 'Proxima Nova';
    font-weight: bold;
    text-align: left;
}
.card__it::-moz-placeholder
{
    color: #666;
}
.card__it:-moz-placeholder
{
    color: #666;
}
.card__it::-webkit-input-placeholder
{
    color: #666;
}
.card-input {
    display: flex;
    position: relative;
    padding: 5px 0 5px 20px;
    align-items: center;
}
.card-input:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: ' ';

    background-color: #ccc;
    z-index: 100;
}
.lined {
    position: relative;
}
.lined:before {
    display: block;
    position: absolute;
    top: -5px;
    left: 0;

    width: 100%;
    height: 1px;

    content: ' ';

    background-color: #ccc;
    z-index: 100;
}
.btn {
    margin: 10px 0 10px 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.card__tx {
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Proxima Nova';
    text-align: left;
}
.card__t {
    padding: 10px 0 10px 20px;
    font-size: 14px;
    font-family: 'Proxima Nova';
    text-align: left;
}
.bold {
    font-weight : bold;
    padding: 10px 0 0 20px;
}
.input-ic {
    width: 17px;
    height: 17px;
    fill: #cdcdcd;
}
.flip-cnt__back {
    transform: rotateY(180deg);
}
.pass-rec {
    opacity: 1;
    transition: .6s;
    
}
.hidden {
    opacity: 0;
    z-index: -1;
}
.index-f {
    position: absolute;
    padding: 0 10px 0 10px;
    bottom: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
    @include type-setting(N);
    line-height: 1.7;
}

@media only screen and (device-width: 320px) {
    .flip-cnt__t {
        margin: 0 0 20px 0;
        font-size: 2.2rem;
}
    .card {
        width: 300px;
    }
    .enter-block {
        width: 260px;
        height: 40px;
    }
    .b-w {
        justify-content: flex-start;
        padding: 20px 0 0;
    }
    .flip-cnt-w
{
        margin: 0;
}
}