@import "../helpers/mixins";
@import "../helpers/functions";
.bg-mask {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .7);
}

.slide-controls {
  position: relative;
  top: 50%;
  width: rem(860px);
  height: rem(100px);
  margin: rem(-50px) auto 0;
  @include large() {
    width: rem(1160px);
  }
  @include laptop() {
    width: rem(768px);
  }
  @include tablet() {
    width: 100%;
  }
}

.slide-controls__btn {
  width: rem(100px);
  height: rem(100px);
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  &:hover {
    .slide-controls__svg {
      fill: #fff;
    }
  }
}

.slide-controls__btn_left {
  position: absolute;
  left: 0;
}

.slide-controls__btn_right {
  position: absolute;
  right: 0;
}

.slide-controls__svg {
  width: 35%;
  height: 100%;
  fill: rgba(#fff, .7);
  transition: fill .2s;
}

.m-h-w {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 rem(300px);
  width: 100%;
  //height: rem(240px);
  background: linear-gradient(to right, rgba(#000,.5) 30%, transparent), url(../img/lake.jpg) no-repeat;
  background-size: cover;
}

.m-h {
  display: flex;
  flex: 0 0 rem(240px);
  align-items: center;
  width: rem(1180px);
  height: 100%;
  @include large() {
    width: rem(1580px);
  }
  @include laptop() {
    width: rem(720px);
  }
  @include tablet() {
    width: rem(300px);
    overflow: hidden; /* св-во для временного адаптива хедера */
    flex-direction: column;
  }
}

.m-h__a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(125px);
  height: rem(125px);
  @include rounded(50%);
  border: 2px solid #fff;
  overflow: hidden;
  margin-right: rem(25px);
  @include large() {
    margin-right: rem(50px);
  }
  @include laptop() {
    width: rem(105px);
    height: rem(105px);
  }
  @include tablet() {
    margin-right: 0;
    margin-top: rem(20px);
    width: rem(55px);
    height: rem(55px);
  }
}

.m-h__img {
  flex: 1 0 auto;
  width: 100%;
}

.m-person {
  display: flex;
  min-height: 50%;
  flex-direction: column;
  justify-content: center;
  @include tablet() {
    align-items: center;
  }
}

.m-person__n {
  margin: 0 0 rem(20px);
  font-family: 'Panton', sans-serif;
  color: #fff;
  font-size: rem(21px);
}

.m-person__tx {
  margin: 0 0 rem(20px);
  max-width: rem(500px);
  font-family: 'Proxima Nova', sans-serif;
  color: #fff;
  font-size: rem(16px);
  text-shadow: 1px 1px 1px rgba(#000, .8);
  @include tablet() {
    font-size: rem(14px);
    text-align: center;
  }
}

.person-soc {
  display: flex;
  width: rem(140px);
  justify-content: space-between;
}

.m-controls {
  position: absolute;
  top: rem(20px);
  right: rem(40px);
  max-width: rem(155px);
  @include tablet() { /* временный костыль для адаптива */
    right: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: rem(-120px);
    max-width: rem(500px);
  }
}

.controls-w {
  width: auto;
  float: right;
  margin-bottom: rem(10px);
  &::after, &::before {
    display: block;
    content: '';
    clear: both;
  }
  @include tablet() { /* временный костыль для адаптива */
    margin-left: rem(50px);
    &:first-child {
      order: 1;
    }
  }
}

/*___main___*/

.m-main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main-search {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 rem(60px);
  width: 100%;
  background-color: rgba(#fff, .6);
  margin-top: rem(-60px);
}

.main-search__form {
  position: relative;
  display: flex;
  flex: 0 0 rem(40px);
  justify-content: flex-end;
  align-items: center;
  width: rem(880px);
  @include large() {
    width: rem(1180px);
  }
  @include laptop() {
    width: rem(620px);
  }
  @include tablet() {
    justify-content: center;
    width: rem(300px);
  }
}

.main-search__input {
  flex: 0 0 rem(380px);
  height: rem(40px);
  padding: 0 rem(20px) 0 rem(45px);
  @include rounded(20px);
  border: none;
  outline: none;
  @include laptop() {
    flex: 0 0 rem(350px);
  }
  @include tablet() {
    flex: 0 0 rem(300px);
    font-size: rem(14px);
  }
}

.main-search__svg {
  position: absolute;
  top: rem(12px);
  right: rem(345px);
  width: rem(16px);
  height: rem(16px);
  fill: #c5c5c5;
  @include laptop() {
    right: rem(315px);
  }
  @include tablet() {
    right: rem(265px);
  }
}

.main-new-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.main-new {
  display: flex;
  flex-direction: column;
  width: rem(1180px);
  padding: rem(50px) 0;
  @include large() {
    width: rem(1580px);
  }
  @include laptop() {
    width: rem(720px);
  }
  @include tablet() {
    width: rem(300px);
    padding: rem(30px) 0;
  }
}

.main-new__t, .main-albums__t {
  margin: 0 0 rem(30px);
  font-size: rem(42px);
  font-family: 'Panton', sans-serif;
  @include tablet() {
    margin: 0 0 rem(22px);
    font-size: rem(30px);
    text-align: center;
  }
}

.new-photos, .albums-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.new-show {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}

.main-albums-w {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}

.main-albums {
  display: flex;
  flex-direction: column;
  width: rem(1180px);
  padding: rem(50px) 0;
  @include large() {
    width: rem(1580px);
  }
  @include laptop() {
    width: rem(720px);
  }
  @include tablet() {
    width: rem(300px);
    padding: rem(30px) 0;
  }
}

.photo-tile {
  &:nth-child(3n) {
    margin: 0 0 rem(20px);
  }
  @include large() {
    &:nth-child(3n) {
      margin: 0 rem(20px) rem(20px) 0;
    }
    &:nth-child(4n) {
      margin: 0 0 rem(20px);
    }
  }
  @include laptop() {
    &:nth-child(3n) {
      margin: 0 rem(20px) rem(20px) 0;
    }
    &:nth-child(2n) {
      margin: 0 0 rem(20px);
    }
  }
  @include tablet() {
    margin: 0 0rem(10px);
    &:nth-child(3n) {
      margin: 0 0rem(10px);
    }
    &:nth-child(2n) {
      margin: 0 0rem(10px);
    }
  }
}

.photo-album {
  &:nth-child(4n) {
    margin: 0 0 rem(20px);
  }
  @include large() {
    &:nth-child(4n) {
      margin: 0 rem(20px) rem(20px) 0;
    }
    &:nth-child(5n) {
      margin: 0 0 rem(20px);
    }
  }
  @include laptop() {
    &:nth-child(4n) {
      margin: 0 rem(20px) rem(20px) 0;
    }
    &:nth-child(3n) {
      margin: 0 0 rem(20px);
    }
  }
  @include tablet() {
    margin: 0 0rem(10px);
    &:nth-child(4n) {
      margin: 0 0rem(10px);
    }
    &:nth-child(3n) {
      margin: 0 0rem(10px);
    }
  }
}

.albums-controls {
  position: absolute;
  top: rem(40px);
  right: rem(20px);
  @include tablet() {
    top: rem(25px);
    right: rem(10px);
  }
}