extends ./_template

block APP_content

  h4 Register your account
  form(action='/auth/signup' method='post')
    fieldset
      label(for='username') Email
      input(type='email' name='username' placeholder='Your Email')
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
      button(type='Register') Register

  br
  h4 Login to your account
  form(action='/auth/signin' method='post')
    fieldset
      label(for='username') Email
      input(type='email' name='username' placeholder='Your Email')
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
      button(type='Login') Login

  br
  h4 Forgot Password
  form(action='/auth/fogot' method='POST')
    fieldset
      label(for='username') Email
      input(type='text' name='username' placeholder='Your Email' autofocus)
      button(type='submit') Reset Password

  br
  h4 LOGOUT
    br
    a(href='/auth/signout') Logout