extends ./_template

block APP_content

  h3 "Авторизация"
  form#loginForm(method="POST" action="/auth/login")
    input(type='text' name='email' placeholder='email')
    input(type='text' name='password' placeholder='password')
    input(type='submit' value="Войти")