@import "../helpers/mixins";
@import "../helpers/functions";

@keyframes photoAddSlideDown {
  from {
    bottom: 100%;
    transform: translate(-50%, 0);
  }
  to {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}

.photoAddSlideDown {
  animation-name: photoAddSlideDown;
  animation-duration: .3s;
  animation-fill-mode: both;
}

.add-photo-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.7);
  z-index: 5555;
  display: none;
}

.add-photo {
  width: 679px;
  height: 594px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 0);
  @include mediamax(1299px) {
    width: 596px;
  }
  @include mediamax(767px) {
    width: 300px;
    height: auto;
  }
}

.add-photo__h, .add-photo__f {
  height: 67px;
  background: #f1f1f1;
  display: flex;
  flex-shrink: 0;
}

.add-photo__h {
  padding-left: 17px;
  padding-right: 20px;
  width: 100%;
  align-items: center;
}

.h__title {
  margin-right: auto;
  font: 700 21px panton;
}

.add-photo__f {
  align-items: center;
  padding: 0 20px;
  margin-top: auto;
}

.add-photo__b {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include mediamax(1299px) {
    padding-right: 20px;
  }
  @include mediamax(767px) {
    padding: 0 10px;
  }
}

.b__album-name {
  display: flex;
  width: 100%;
  height: 91px;
  align-items: center;
  .name {
    margin-right: 20px;
    font: 700 16px proxima nova;
  }
  .title {
    font: 400 16px proxima nova
  }
}

.dropzone {
  border-width: 3px;
  border-color: rgb(241, 241, 241);
  border-style: dashed;
  background-color: rgb(249, 249, 249);
  width: 100%;
  height: 329px;
  margin-top: auto;
  margin-bottom: 40px;
  padding: 0 6px;
  border-radius: 20px;
  @include mediamax(1299px) {
    padding: 0 7px;
  }
  @include mediamax(767px) {
    padding: 22px 3px 0;
  }
  .dz-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 ;
  }
  .dz-preview {
    min-height: 59px;
    margin: 10px;
    @include mediamax(767px) {
      margin: 4px;

      .dz-details {
        display: none!important; ;
      }
      .dz-progress,.dz-error-message {
        display: none!important; ;
      }
    }
    .dz-image {
      width: 135px;
      height: 135px;
      border-radius: 5px;
      @include mediamax(1299px) {
        width: 114px ;
        height: 114px ;
      }
      @include mediamax(767px) {
        width: 59px;
        height: 59px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .dz-remove {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 26px;
      height: 26px;
      border: 3px solid #f9f9f9;
      background: #ee4634;
      border-radius: 50%;
      top: -11px;
      right: -11px ;
      z-index: 55;
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: none ;
      }
      @include mediamax(767px) {
        width: 18px;
        height: 18px;
        font-size: 12px;
        right: -6px;
        top: -6px;
      }
    }
  }
  .icon-camera {
    width: 40px;
    height: 32px;
    fill: #323232;
    opacity: .2;
  }
  .drag {
    text-align: center;
    opacity: .6;
    font: 400 16px/21px proxima nova;
    color: #323232;
    margin-top: 15px;
    @include mediamax(767px) {
      display: none;
    }
  }
  .or {
    text-align: center;
    font: 400 16px/21px proxima nova;
    color: #323232;
    @include mediamax(767px) {
      display: none;
    }
  }
  .file {
    color: #28bbf0;
    text-align: center;
    opacity: .6;
    font: 700 16px/21px proxima nova;
    @include mediamax(767px) {
      text-transform: capitalize;
      width: 138px;
      height: 40px;
      border: 1px solid #28bbf0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      margin-top: 10px;
    }
  }
  @include mediamax(767px) {
    height: 285px;
  }
}