@import "../helpers/mixins";
@import "../helpers/functions";
@keyframes profileSlideDown {
  from {
    bottom: 100%;
    transform: translate(-50%,0);
  }
  to {
    bottom: 50%;
    transform: translate(-50%,50%);
  }
}
.profileSlideDown {
  animation-name: profileSlideDown;
  animation-duration: .3s;
  animation-fill-mode: both;
}
.edit-profile-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000,0.7);
  z-index: 5555;
  display: none;
}
.edit-profile {
  width: 679px;
  background: #fff;
  display: block;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%,0);
  @include mediamax(1299px) {
    width: 596px;
  }
  @include mediamax(596px) {
    width: 300px;
    height: auto;
  }
}

.edit-profile__h, .edit-profile__f {
  height: 67px;
  background: #f1f1f1;
  display: flex;
  flex-shrink: 0;
}

.edit-profile__h {
  padding-left: 17px;
  padding-right: 20px;
  width: 100%;
  align-items: center;
  @include mediamax(596px) {
    padding: 0 10px;
  }
}

.h__title {
  margin-right: auto;
  font: 700 21px panton;
}

.edit-profile__f {
  align-items: center;
  padding: 0 20px;
  margin-top: auto;
}

.edit-profile__b {
  padding: 30px 16px 20px 50px;
  display: flex;
  flex-direction: column;
  @include mediamax(1299px) {
    padding-right: 20px;
    padding-left: 24px;
  }
  @include mediamax(596px) {
    padding: 20px 10px ;
  }
}

.b__form {
  width: 100%;
}

.profile__field {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  &.profile__field--direction {
    @include mediamax(596px) {
      flex-direction: column;
    }
  }
}

.field__lbl {
  font: 600 16px Proxima Nova;
  width: 80px;
  text-align: right;
  &.field__lbl-top {
    align-self: flex-start;
    margin-top: 14px;
    @include mediamax(596px) {
      margin-top: 0;
    }
  }
  @include mediamax(596px) {
    font-size: 14px;
    align-self: flex-start;
    margin-bottom: 7px;
    text-align: left;
  }
}

.field__it {
  border-radius: 30px;
  border: 1px solid #d8d6d6;
  background-color: #fff;
  width: 513px;
  height: 40px;
  margin-left: auto;
  outline: none;
  transition: border-color .3s;
  padding: 10px 20px;
  font: 300 16px Proxima Nova;
  color: #323232;
  &:focus {
    border-color: #28bbf0;
  }
  &.field__it--surname, &.field__it--name {
    width: 247px;
    @include mediamax(1299px) {
      width: 217px;
    }
    @include mediamax(596px) {
      width: 100%;
      margin-bottom: 9px;
    }
  }
  &.field__it--social {
    width: 247px;
    margin-left: 20px;
    @include mediamax(596px) {
      width: 100%;
      margin: 0;
    }
  }
  @include mediamax(1299px) {
    width: 427px;
  }
  @include mediamax(596px) {
    width: 100%;
    font-size: 14px;
  }
}

.field__itx {
  width: 513px;
  height: 120px;
  resize: none;
  border-radius: 20px;
  border: 1px solid #d8d6d6;
  background-color: #fff;
  outline: none;
  margin-left: auto;
  transition: border-color .3s;
  padding: 10px 20px;
  font: 300 16px/21px Proxima Nova;
  color: #323232;
  &:focus {
    border-color: #28bbf0;
  }
  @include mediamax(1299px) {
    width: 453px;
  }
  @include mediamax(596px) {
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.field__cover {
  width: 80px;
  display: flex;
  @include mediamax(596px) {
    width: auto;
  }
  &.profile-av {
    @include mediamax(596px) {
      align-self: flex-start;
    }
  }
}

.avatar-cover {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  position: relative;
}

.avatar-cover__img {
  height: 100%;
  position: absolute;
  transform: translate(50%,0);
  right: 50%;
}

.field__cover-info {
  margin-left: 19px;
  display: flex;
  align-items: center;
  .inputFile-block__btn {
    height: 40px;
    border: 1px solid #28bbf0;
    border-radius: 20px;
    font: 700 14px panton;
    color: #28bbf0;
    transition: background .3s, color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #28bbf0;
      color: #fff;
    }
  }
}

.cover-info__text {
  color: #323232;
  font: 300 14px proxima nova;
  font-style: italic;
  width: 192px;
  margin-left: 20px;
  span {
    font-weight: 600;
  }
}
.profile-cover {
  flex-wrap: wrap;
  .cover-info__text {
    @include mediamax(596px) {
      display: block;
      margin-left: 0;
      margin-top: 7px;
    }
  }
}
.devider {
  height: 1px;
  width: 100%;
  background: #d8d6d6;
  margin-top: 5px;
  @include mediamax(596px) {
    margin-top: 0;
  }
}