@font-face {
  font-family : 'Panton';
  src         : url('#{$font-path}Panton-Bold.otf');
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'Proxima Nova';
  src         : url('#{$font-path}Proxima Nova Semibold.otf');
  font-weight : bold;
  font-style  : normal;
}

@font-face {
  font-family : 'Proxima Nova';
  src         : url('#{$font-path}ProximaNova-Light.otf');
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'Proxima Nova';
  src         : url('#{$font-path}ProximaNova-LightIt.otf');
  font-weight : normal;
  font-style  : italic;
}
/* ------------ TYPES  ------------ */
$type-settings : (
    "S": (
        font-size: 0.75rem,
        font-weight: normal,
        line-height: $base-line-height
    ),
    "N": (
        font-size: 1rem,
        font-weight: normal,
        line-height: $base-line-height
    ),
    "M": (
        font-size: 1.333rem,
        font-weight: normal,
        line-height: $base-line-height * 2
    ),
    "L": (
        font-size: 1.778rem,
        font-weight: normal,
        line-height: $base-line-height * 2.18
    ),
    "XL": (
        font-size: 2.187rem,
        font-weight: normal,
        line-height: $base-line-height * 2.73
    ),
    "XXL": (
        font-size: 3.938rem,
        font-weight: normal,
        line-height: $base-line-height * 4.92
    )
);

@function type-scale($level) {
  @return map-get(map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size   : type-scale($level);
  line-height : line-height($level);
}
