// Vars
$base-font-size : 1rem !default;
$base-line-height : 1.25 * $base-font-size;
$font-path : '../fonts/';

// ====Responsive
/* Media queries */

//480/768/992/1200
//auto/480/750/970

$screen-xs-max : 480px; //mobile
$screen-sm-min : $screen-xs-max + 1;

$screen-sm-max : 768px; //tablet
$screen-md-min : $screen-sm-max + 1;

$screen-md-max : 1200px; //laptop
$screen-lg-min : $screen-md-max + 1;

// breakpoints
$breakpoint-laptop : "only screen and (max-width : #{$screen-md-max})";
$breakpoint-tablet : "only screen and (max-width : #{$screen-sm-max})";
$breakpoint-mobile : "only screen and (max-width : #{$screen-xs-max})";

// media containers

$container-desktop : 1200px;
$container-laptop : 970px;
$container-tablet : 750px;
$container-mobile : auto;

// ==== Page elements

// footer
$footer-height : 147px;
