include ../helpers/mixins.pug
.add-photo-wrap
    .add-photo
        .add-photo__h
            h4.h__title Добавить фотографии
            +btnCancelPop
        .add-photo__b
            .b__album-name
                .name Название
                .title {{some just created album name}}
            form#photoDropZone.dropzone.needsclick.nicescroll(action='/api/method/photos.addPhoto')
                input(type='hidden' name='_csrf' value= csrfToken)
                .dz-message.needsclick
                    +use('cam','icon-camera')
                    span.drag Перетащите фото сюда
                    span.file <span class="or">или</span> выберите файл
        .add-photo__f
            +formMenu