extends ../_template

block APP_content
  .b-w
    div.parallax
      - var parallaxImgs = ["assets/img/01.png","assets/img/02.png","assets/img/03.png","assets/img/04.png","assets/img/05.png","assets/img/06.png"]
      each item, key in parallaxImgs
        div.parallax-layer(data-key=key)
          img.parallax-layer__img(src=item alt="parallax layer")
    .flip-cnt-w
      .flip-cnt
        .flip-cnt__front
          .flip-cnt__t Смена пароля
          .flip-cnt__tx Введите новый пароль
          .card
            .card__auth-sect
              form.card-form(name="test" method="post" action="#" )
                .card-input
                  .input-ic
                    +use('password', 'input-ic')
                  input.card__it(type="text" placeholder="Новый пароль" size="40")
                input(type="hidden", name="_csrf", value="#{csrf}")
            .btn
              +btnReset
            .card__t
              a.card-a(href="index.html") Перейти на лицевую страницу
    footer.index-f Создано командой профессионалов на продвинутом курсе по вебразработке от Loftschool