extends ../_template
block APP_content
  header.s-h#header
    h1.s-h__t Исследуй мир
    div.s-return
      +btnHome
  main.m-main
    section.main-search.s-main-search
      div.person-w
        div.a-person
          a.a-person__a(href="#")
            img.a-person__img(src="assets/img/jason.jpg" alt="jason")
          p.a-person__n_black Джейсон Стэтхем
      form.main-search__form(action="#")
        input.main-search__input(type="search" name="search" id="search" placeholder="Исследовать мир")
        +use('search','main-search__svg')
        input(type="hidden", name="_csrf", value="#{csrf}")
      div.show-new
        button.show-new__btn Показать новые
    section.main-new-w
      div.main-new.s-results
        p.s-results__tx По запросу "Природа" найдено 6 результатов
        div.new-photos
          - var arr = [1,2,3,4,5,6]
          for item in arr
            include ../modules/_photo_tile.pug
  include ../modules/_footer.pug