extends ../_template
block APP_content
  header.m-h-w(style='background-image: url(' + user.userdata.bg_img+')')
    div.m-h
      a.m-h__a(href="#")
        img.m-h__img(src= user.userdata.ava_img, alt= user.userdata.firstName + " " + user.userdata.lastName)
      div.m-person
        p.m-person__n
          if (user)
            = user.userdata.firstName + " " + user.userdata.lastName
        p.m-person__tx
          if (user)
            = user.userdata.message
        div.person-soc
          +socIconVk
          +socIconFb
          +socIconTw
          +socIconGp
          +socIconEm
    div.m-controls
      div.controls-w
        +btnEdit
      div.controls-w
        +btnExit
  main.m-main
    section.main-search
      form.main-search__form(action="/search")
        input(type='hidden' name='_csrf' value= csrfToken)
        input.main-search__input(type="search" name="q" id="q" placeholder="Исследовать мир")
        +use('search','main-search__svg')
    section.main-new-w
      div.main-new
        h1.main-new__t Новое в мире
        div.new-photos
          if(newPotos)
            for photo in newPotos
              include ../modules/_photo_tile.pug
        div.new-show
          +btnShow
    section.main-albums-w
      div.main-albums
        h2.main-albums__t Мои альбомы
        div.albums-photos
          if(userAlbums)
            for album in userAlbums
              include ../modules/_photo_album.pug
      div.albums-controls
        +btnAdd
  include ../modules/_footer.pug