extends ../_template
block APP_content
  div.bg-mask
  include ../modules/_slider_item.pug
  header.s-h#header(style="background-image: url(" + user.userdata.bg_img + ")")
    h1.s-h__t Исследуй мир
    div.s-return
      +btnHome
  main.m-main
    section.main-search.s-main-search
      div.person-w
        div.a-person
          a.a-person__a(href="/users/" + user._id.toString())
            img.a-person__img(src= user.userdata.ava_img alt= user.userdata.firstName + " " + user.userdata.lastName )
          p.a-person__n_black #{user.userdata.firstName + " " + user.userdata.lastName}
      form#search_form.main-search__form(action="#")
        input.main-search__input(type="search" name="q" id="q" placeholder="Исследовать мир (; разделяет фразы)"  value= orig_str)
        +use('search','main-search__svg')
        input(type="hidden", name="_csrf", value= csrfToken)
      div.show-new
        button.show-new__btn(type="submit" form="search_form") Показать новые
    section.main-new-w
      div.main-new.s-results
        p.s-results__tx По запросу "#{search_str}" найдено #{photos.length} фотографий
        div.new-photos
          if (photos)
            for photo in photos
              +photoTile(photo)
  +footer(user.userdata.bg_img )