extends ../_template
block APP_content
  - console.log(owner);
  - console.log(albums);
  header.m-h-w#header(style="background-image: url(" + owner.userdata.bg_img + ")")
    div.m-h
      a.m-h__a(href="#")
        img.m-h__img(src= owner.userdata.ava_img alt= owner.userdata.firstName + " " + owner.userdata.lastName )
      div.m-person
        p.m-person__n #{owner.userdata.firstName + " " + owner.userdata.lastName}
        p.m-person__tx #{owner.userdata.message}
        div.person-soc
          +socIcon('vk', owner.userdata.vk)
          +socIcon('fb', owner.userdata.fb)
          +socIcon('tw', owner.userdata.tw)
          +socIcon('gp', owner.userdata.gl)
          +socIcon('em', owner.userdata.email)
      div.m-controls
          div.m-controls
            div.controls-w
              +btnHome
  main.m-main
    section.main-search
      form.main-search__form(action="/search/")
        input.main-search__input(type="search" name="q" id="q" placeholder="Исследовать мир")
        +use('search','main-search__svg')
        input(type="hidden", name="_csrf", value= csrfToken)
    section.main-albums-w
      div.main-albums
        h2.main-albums__t Альбомы
        div.albums-photos
          if (albums)
            for album in albums
              +albumTile(album)
  +footer(owner.userdata.bg_img )